<div class="footer">
    <nav class="nav">
        <p>
            <a class="footer-link" href="http://astro.build">#BuiltWithAstro</a>
        </p>
    </nav>
</div>
<style>
    .footer {
        margin: auto;
        display: block;
        text-align: center;
    }
    a {
        color: #15ff00;
    }
</style>